go 1.25

use (
	./apps/api-gateway
	./apps/audit-service
	./apps/auth-service
	./apps/billing-service
	./apps/deployments-service
	./apps/dns-service
	./apps/gameservers-service
	./apps/notifications-service
	./apps/orchestrator-service
	./apps/organizations-service
	./apps/shared
	./apps/superadmin-service
	./apps/support-service
	./apps/vps-service
)
