apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST

  # Database datasources removed - all metrics are now served via Prometheus
  # The API properly connects to databases and exposes metrics through /metrics endpoint
  # Dashboards that previously used database connections need to be converted to use Prometheus queries

