apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: ${GRAFANA_POSTGRES_HOST}:5432
    uid: postgresql
    database: obiente
    user: ${POSTGRES_USER}
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    jsonData:
      sslmode: disable
      postgresVersion: 1600
      timescaledb: false
    editable: true

  - name: TimescaleDB (Metrics)
    type: postgres
    access: proxy
    url: ${GRAFANA_METRICS_DB_HOST}:5432
    uid: timescaledb-metrics
    database: obiente_metrics
    user: ${METRICS_DB_USER}
    secureJsonData:
      password: ${METRICS_DB_PASSWORD}
    jsonData:
      sslmode: disable
      postgresVersion: 1600
      timescaledb: true
    editable: true

